* {
  border: none;
}

.calculator-container {
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 7%;
  left: 49%;
  right: 2%;
}

.body {
  width: 100%;
}

.display-board {
  font-size: 1.7rem;
  line-height: 34%;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.btn {
  height: 4.5rem;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.zero {
  grid-column: 1/3;
  grid-row: 5;
}

.dot {
  grid-column: 3;
  grid-row: 5;
}

.equal {
  grid-column: 4;
  grid-row: 5;
}

.operator {
  background: rgb(221, 136, 80);
}

.nav {
  height: 65px;
  background: rgb(146, 146, 146);
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
